@using VehicleProj.Models.Domain;
@model VehicleProj.Models.AddVehicleModelViewModel
@{
}
<form method="post" action="Add">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="form-group">
        <label for="">Abrv</label>
        <input type="text" class="form-control" asp-for="Abrv">
    </div>
    <div class="form-group">
        <label for="">MakeName</label>
        <select class="form-select form-select-lg" aria-label=".form-select-lg example" asp-for="MakeId">
            @foreach (var item in ViewData["vehicleMakes"] as IList<VehicleMake>)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>